h1{
    color:blue
  }
  
  .header{
      background-color: cyan;
      display:flex;
      justify-content: space-between;
  }
  .grid{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
  p,h2{
      text-align: center;
  }
  .footer{
      display: flex;
      justify-content: flex-end;
  }